<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Linking market trends with the actions of Paris Hilton.</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>

  <%= yield :extra_javascript %>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	
	<div class="title">
		<div class="title_name"><a href="/" style="color: #fffaf0; text-decoration: none;">MARKET-BLASTER 3000</a></div>
		<div class="title_desc">Correlating market trends with the actions of Paris Hilton.</div>
	</div>
	
	<div class="main">
		<div class="main_left">
			<div class="main_left_padder">
        <h2><%= yield :heading -%></h2>
				<br />
				<div style="width: 630px;">
          <%= yield %>
				</div>
				<div style="width: 630px; height: 1px; clear: both;">
					&nbsp;
				</div>
			</div>
		</div>
		<div class="main_right">
			<h3>Site Help</h3>
			<div class="main_right_item">
				<b>What's this website do?</b>
				<br />
				The entire website consists of one page. You'll figure it out.
			</div>
			<div class="main_right_item">
				<b>Is there a chance the track could bend?</b>
				<br />
				Not on your life, my Hindu friend.
			</div>
			<div class="main_right_more">
				<a href="/help.php">More Help</a>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer_links">
			&copy; 2010 Nick Hoffman & Sully Syed. No rights reserved.
			<br /><br />
			<a href="help.html">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:sully@yllus.com">Contact</a>
		</div>
	</div>
	<div style="height: 50px; width: 1px;"></div>
</body>
</html>
